#ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8A2BE2;
}

.li1 {
  float: right;
}
body {
  background-image: url('https://www.solidbackgrounds.com/download/2560x1440-blue-stained-glass-free-website-background-image.jpg');
}
.li1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li1 a:hover:not(.active) {
  background-color: #111;
}
h1{
	font-family: Copperplate Gothic Light;
	font-size:150%;
}
p{
	font-family: verdana;
	font-size: 110%;
	color:yellow;
}